
# Debes crear una proyecto en infura y copiar el project id
# En metamask debes copiar la clave privada de la cuenta

### remove the '#' to use the environment variables
# export PRIVATE_KEY=asafdagadd
# export WEB3_INFURA_PROJECT_ID=asdfsdf



