
# Debes crear una proyecto en infura y copiar el project id
# En metamask debes copiar la clave privada de la cuenta

### elimine el  '#' para usar estas variables de entorno

# export PRIVATE_KEY=asafdagadd
# export WEB3_INFURA_PROJECT_ID=asdfsdf



